.contanior {
  padding: 25px;
}

.food-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
  margin: 0 0;
}

.heading-2 {
  color: rgb(91, 91, 91);
  font-weight: 500;
  margin-left: 0;
  margin-top: 0 ;
  /* left: 0; */

}

.heading-1{
  font-size: 60px;
  margin-bottom: 12px;
}
.food-card {
  border: 1px solid #ccc;
  margin: 15px 5px;
  display: inline-block;
  padding: 2px;
}

.food-card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.details {
  background-color: #faebd7;
  padding: 20px;
  margin: 20px;
  border: 20px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 300px;
  /* Optional: Set a minimum width for better appearance */
  min-width: 400px;
  box-shadow: 20 20 20px rgba(0, 0, 0, 0.2);
  /* Add a subtle box shadow */
}

.details button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: 200px;
  cursor: pointer;
  width: 200px;
}

.details button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  width: 200px;
}


.image_card {
  width: 100px;
  height: 100px;
  background-color: #fff;  
}

#image_show {
  /* width:70vw; */
  height: 300px;
  width: auto;
}

.home{
  margin-top: -7rem;
}

.item-name{
  margin: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.resturant-name{
  font-size: 17px;
  margin: 5px;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box{
  width: 90vw;
  align-items: center;

}