.signup {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgb(241, 241, 241);
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    overflow: visible;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}
.address{
    margin: 5px;
    padding: 20px;
    border: #ccc solid;
}
#title{
    margin: 30px;
}
.signup h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    /* margin-bottom: 20px; */
    width: 95%;
    margin: 0;
    text-align: left;
}

label,p {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ff0000;
    /* Red color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

button{
    margin-top: 10px;
}

.signup_title{
    margin: 0 auto ;
}

.already_account{
    margin: 10px auto;
    margin-top: 20px;
    text-decoration: none;
}

.error_msg{
    margin-top: -10px;
    margin-bottom: 15px;
    color: red;
}